* {
    margin-left: 10px;
}

body {
     background-color: black;
     color: white;
     font-family: sans-serif,Arial, Helvetica;
     
}

header h1 {
          text-align: center;
          text-decoration: underline;
          font-weight: bolder;
          font-size: 48px;
          margin-top: 20px;
}

nav {
     line-height: 25px;
     margin: 20px 20px 20px 20px ;

}

a:hover {
        color: yellow;
}

a:visited {
         color: red;
}
