* {
    margin-left: 5px;
}



table, th, td {
               border: 1px solid; color: white;
               background-color: red;
 } 
body {
     background-color: black;
     font-family:sans-serif, Arial, Helvetica ;
     line-height: 25px;
     color: white;    
}

header h1 {
           text-align: center;
           font-weight: bolder;
           font-size:60px;
           margin-top: 60px;
           text-decoration: underline;
}



nav {
    line-height:28px;
}

a:hover {
        color: yellow;
        
}
a:visited {
          color: rgb(0, 162, 255);
}

.vex {
      display: inline-flex;
      border: 2px solid white;
}

.vaper {
       background-color: chartreuse;
       display: inline-block;
}

.dark {
       border: 2px solid white;
       display:inline-block;
}



