* {
    margin-left: 5px;
}



table, th, td {
               border: 1px solid; color: white;
               background-color: red;
 } 
body {
     
     font-family:sans-serif, Arial, Helvetica ;
     line-height: 25px;
     background-color: rgb(158, 158, 158);
         
}

header h1 {
           text-align: center;
           font-weight: bolder;
           font-size:60px;
           margin-top: 60px;
           text-decoration: underline;
}



nav {
    line-height:28px;
    font-size: 13px;
}

a:hover {
        color: rgb(255, 0, 0);
        
}
a:visited {
          color: rgb(0, 162, 255);
}

.vpx {
      background-color: #444;
      padding: 20px 50px 30px 20px;
      width: 90vw;         /* largura da tela inteira */
      
      
}

.vex {
      display: inline-flex;
      border: 2px solid white;
      border-radius: 10px; /* arredonda a borda */
}

.vaper {
       background-color: chartreuse;
       display: inline-block;
       border-radius: 10px; /* arredonda a borda */
       padding: 10px;
 
}

.dark {
       border: 2px solid white;
       display:inline-block;
       border-radius: 10px; /* arredonda a borda */
}

.Formulario {
  border: 2px solid #444;
  border-radius: 10px; /* arredonda a borda */
  padding: 10px;
  width: 300px;
  background-color: rgb(191, 255, 247);
}


